table {
    border-collapse: collapse;
    width: 200px;
    height: 200px;
  }
  
  td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  /* on change le curseur par une image sur toute la page */
 body {
    cursor: url('../image/hammer-symbol-color-png\ \(1\).png'), auto;
  }
  