.pause{
    position: fixed;
    border: none;
    background: url("../image/button/buttonpause.png");
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.pauseimg{
    width: 60px;
}
.retry,.back,.resume,.setting{
    display: block;
    margin : auto;
    margin-bottom: 10px;
    width: 190px;
    height: 50px;
}

#background-video {
    /*vidéo d'arrière plan*/
    height: 100vh;
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .buttonhead {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 5vh;
    height: 70px;
  }
  .main{justify-content:space-around;
    display: flex;
    align-items: center;
}
.game{
    background-color: #247cbfe7;
    border: 0.4vw solid #19608F;
    border-radius:20px ;
    width: 70vw;
    height: 70vh;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
}
*{
    scrollbar-width:none;
}
*::-webkit-scrollbar {
    display: none;
  }
.martin{
 width: 100%;
 height: 100%;
}
.martinplace{
    height: 150px;
    display: flex;
    width: 100px;

}
.body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .Button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 40vw;
    height: 15vh;
    background: rgba(37, 141, 210, 0.63);
    mix-blend-mode: normal;
    border: 0.8vw solid #fdeb96;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-bottom: 2vw;
  }
  .al{
    display: flex;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 10vh;
    text-align: center;
    color: #ffffff;
    -webkit-text-stroke: 0.1vw;
    -webkit-text-stroke-color: #c1e9f9;
    text-decoration: none;
  }
  #popup {
    position: absolute;
    left: 30vw;

}
.choice {
  width: 100%;
  max-width: 8vw; /* Limite la largeur maximale de la DIV */
  background-color: #ffd001ee;
  height: auto;
  border: 0.4vw solid #66AC37;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto; /* Ajoute une barre de défilement en cas de dépassement */

}

.choice table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.choice tr {
  display: flex;
  flex-direction: column; /* Affiche les lignes du tableau en colonne */
}
td, tr {
  border: 1px solid #19608F;
}
table {
  border-collapse: collapse;
}
td,tr {
  width: 80px; /* takes up an equal share of the available space */
  height: 80px;  /* Changez la taille en fonction de vos besoins */
  position: relative;
}

.choice td {
  width: 100%;
  height: 10vh;
  text-align: center;
  vertical-align: middle;
  border: none; /* Masque les bordures des cellules */
}

.choice img {
  width: 100%;
  height: 100%; /* Ajuste la hauteur en fonction de la largeur pour maintenir les proportions */
}


.save{
    width: 100%;
    height: 100%;
}
.savepos {
    height: 80px;
    width: 80px;
    margin-left: 80vw;
  }
  .poubelle{
    width: 5vw;
    height: auto;
  
  }
  input{
    background-color: #fdeb96;
    border:0.2vw solid rgba(37, 141, 210, 0.63);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color:rgba(37, 141, 210, 0.63);
    text-decoration: none;
}
#button{
  margin: auto;
  box-sizing: border-box;
  width: 15vw;
  height: 7vh;
  background: rgba(37, 141, 210, 0.63);
  mix-blend-mode: normal;
  border: 0.2vw solid #fdeb96;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-bottom: 10vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
label{
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  text-align: center;
  color:rgba(37, 141, 210, 0.63);
  text-decoration: none;
}
form{
  height: 8vh;
}

#display{
  height: 60vh;

}
.main{
  justify-content: space-around;
    display: flex;
    align-items: center;
    height: 60vh;

}
.sticky{
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  width: 10%;
  height:70vh;
  justify-content: center;
  position:sticky;
  margin-top: 25vh;
  border:0.2vw solid #19608F ;
}