.back{
        position: absolute;
        width: 85px;
        height: 80px;
        left: 17px;
        top: 7px;
        background: url(../image/arrow.png);
        background-size: 80px;
        border-style: none;
    }
    .backimg{
        width: 50px; 
        
}
#background-video {/*vidéo d'arrière plan*/
    height: 100vh;
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .settingimg {
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
  }
  .al {
    height: 10.1vw;
    width: 10vw;
    margin-left: 87vw;
  }
.buttonhead {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 5vh;
    height: 105px;
  }
  .Buttonstory {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 30vw;
    height: 15vh;
    background: rgba(37, 141, 210, 0.63);
    mix-blend-mode: normal;
    border: 0.2vw solid #fdeb96;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-bottom: 2vw;
  }

.textstory{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 10vh;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.games{
    display: flex;
    margin: auto;
}
.Buttoneasy{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 30vw;
    height: 15vh;
    background: rgba(106, 233, 110, 0.785);
    mix-blend-mode: normal;
    border: 0.2vw solid #64B26A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-bottom: 2vw;

}
.texteasy{

    width: 177px;
    height: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    -webkit-text-stroke: 0.5px; 
    -webkit-text-stroke-color: #6FB97C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Buttonmedium{
    box-sizing: border-box;
    width: 30vw;
    height: 15vh;
background: #e9a826dc;
border: 0.2vw solid #B58041;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
margin-bottom: 2vw;
}
.textmedium{
    width: 177px;
    height: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    -webkit-text-stroke: 0.5px; 
    -webkit-text-stroke-color: #B58041;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Buttonhard{
    box-sizing: border-box;
    width: 30vw;
    height: 15vh;
    background: #ea1919c8;
    border: 3px solid #971F1F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
}
.texthard{
    width: 177px;
    height: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    -webkit-text-stroke: 0.5px; 
    -webkit-text-stroke-color: #971F1F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.creationgames{
    margin-top: 30px;
}
.Create{
    margin-left: 300px;
    box-sizing: border-box;
    width: 260px;
    height: 120px;
    left: 80px;
    top: 250px;
    background: #6fad4bf3;
    border: 3px solid #FDEB96;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
}
.textcreate{
    width: 177px;
    height: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Level{
    margin-left: 100px;
    box-sizing: border-box;
    width: 260px;
    height: 120px;
    left: 80px;
    top: 250px;
    background: #6fad4bf3;
    border: 3px solid #FDEB96;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
}
.textlevel{
    width: 177px;
    height: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}