.back{
        position: absolute;
        width: 85px;
        height: 80px;
        left: 17px;
        top: 7px;
        background: url(../image/button/arrow.png);
       
        border-style: none;
    }
    .backimg{
    
        width: 60px; 
        
}
body{
    overflow: hidden;
}
#background-video {/*vidéo d'arrière plan*/
    height: 100vh;
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .settingimg {
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
  }
  .al {
    height: 7.1vw;
    width: 7vw;
    margin-left: 87vw;
  }
.buttonhead {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 5vh;
    height: 100px;
  }
  .Buttonstory {
    margin: auto;
    box-sizing: border-box;
    width: 30vw;
    height: 15vh;
    background: rgba(37, 141, 210, 0.63);
    mix-blend-mode: normal;
    border: 0.2vw solid #fdeb96;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-bottom: 10vh;
  }
  .Buttonstory:hover{
    border: 0.2vw solid #fdeb96;
    background: rgba(22, 82, 123, 0.63);
  }

.textstory{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 10vh;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.textstory:hover{
    font-size: 4.1vw;
  
  }
.games{
    display: flex;
    margin: auto;
}
.Buttoneasy{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 30vw;
    height: 15vh;
    background: rgba(106, 233, 110, 0.785);
    mix-blend-mode: normal;
    border: 0.2vw solid #64B26A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-bottom: 2vw;

}
.Buttoneasy:hover{
    background: #64B26A;
    border: 0.2vw solid rgba(106, 233, 110, 0.785);
}
.texteasy{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 10vh;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.texteasy:hover{
    font-size: 4.1vw;
  
  }
.Buttonmedium{
    margin: auto;
    box-sizing: border-box;
    width: 30vw;
    height: 15vh;
background: #e9a826dc;
border: 0.2vw solid #B58041;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
margin-bottom: 2vw;
}
.Buttonmedium:hover{
    background: #B58041;
    border: 0.2vw solid #e9a826dc;
}
.textmedium{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 10vh;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.textmedium:hover{
    font-size: 4.1vw;
}
.Buttonhard{
    box-sizing: border-box;
    width: 30vw;
    height: 15vh;
    background: #ea1919c8;
    border: 0.2vw solid #971F1F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-bottom: 2vw;
}
.Buttonhard:hover{
    background: #971F1F;
    border: 0.2vw solid  #ea1919c8;
}
.texthard{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 10vh;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.texthard:hover{
    font-size: 4.1vw;
}

.creationgames{
    display: flex;
    margin: auto;
    margin-top: 10vh;
}
.game{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.Buttoncreate{
    margin: auto;
    box-sizing: border-box;
    width: 30vw;
    height: 15vh;
    background: #6fad4bf3;
    border: 0.2vw solid #FDEB96;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-bottom: 2vw;
}
.Buttoncreate:hover{
    background: #487130f3;
    border: 0.2vw solid #FDEB96;
}
.textcreate{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 10vh;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.textcreate:hover{
    font-size: 4.1vw;
}
.ButtonLevel{
    margin: auto;
    box-sizing: border-box;
    width: 30vw;
    height: 15vh;
    background: #6fad4bf3;
    border: 0.2vw solid #FDEB96;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-bottom: 2vw;
}
.ButtonLevel:hover{
    background: #487130f3;
    border: 0.2vw solid #FDEB96;
}
.textlevel{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 10vh;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.textlevel:hover{
    font-size: 4.1vw;
}