.setting
{
    display: flex;
    position: fixed;
    background-color: rgb(0, 105, 128);
    border-color: aqua;
    margin-left: 90%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.settingimg{
    width: 70px;
}
.boutonhead{
display:flex;
}
.avatar{
    background-color: rgb(0, 105, 128);
    border-color: aqua;
    display: flex;
    position: fixed;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
   
}
.avatarimg{
    width: 70px;
}
.bouton{
    display: block;
    margin : auto;
    margin-bottom: 10px;
    width: 190px;
    height: 50px;
}
.boutons{
    margin-top: 150px;
}
#background-video {/*vidéo d'arrière plan*/
    height: 100vh;
    width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}