.settingimg {
  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;
}
.al {
  height: 7.1vw;
  width: 7vw;
  margin-right: 3vh;
}
.body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
.buttonhead {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  margin-top: 5vh;
  height: 105px;
}
.avatar {
  height: 80px;
  width: 80px;
  margin-left: 3vw;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color:#fdfdfd;
  border: 0.2vw solid rgb(255, 242, 0);
}

.avatarimg {
  height: 100%;
  width: 100%;
}
.Titre {
  /* Martin Carpenter */
  position: absolute;
  width: 70vw;
  height: 40vh;
  left: 22vw;
  top: 1vh;
  font-family: "Inter", "Clarendon";
  font-style: normal;
  font-weight: 400;
  font-size: 8vw;
  line-height: 116px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  -webkit-text-stroke: 0.3vw;
  -webkit-text-stroke-color: #c1e9f9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
}
.Button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 30vw;
  height: 15vh;
  background: rgba(37, 141, 210, 0.63);
  mix-blend-mode: normal;
  border: 0.8vw solid #fdeb96;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-bottom: 4vw;
}
.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 30vw;
  height: 15vh;
  background: rgba(37, 141, 210, 0.63);
  mix-blend-mode: normal;
  border: 0.8vw solid #fdeb96;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-bottom: 2vw;
}
.Button:hover{
  border: 0.6vw solid #fdeb96;

}
.writebutton {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 10vh;
  text-align: center;
  color: #ffffff;
  -webkit-text-stroke: 0.1vw;
  -webkit-text-stroke-color: #c1e9f9;
  text-decoration: none;
}
.writebutton:hover{
  font-size: 3.5vw;

}
.buttons2{
  position: absolute;
  left: 35vw;
  top: 45vh;
}
.buttons {
  position: absolute;
  left: 2vw;
  top: -10vh;
}
#background-video {
  /*vidéo d'arrière plan*/
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.audio {
  width: 50px;
  height: 10vh;
  margin-left: 85vw;
  mix-blend-mode: overlay;
  
}
.Footer {
  display: flex;
  align-items: center;
  width: 83vw;
  justify-content: space-between;
  margin-bottom: 10px;
  position: absolute;
  height: 60px;
  bottom: 0;
}
footer{
  display: flex;
  width: 100vw;
}
:picture-in-picture{
    display: none;
}
