.back{
    position: absolute;
    width: 85px;
    height: 80px;
    left: 17px;
    top: 7px;
    background: url(../image/button/arrow.png);
    background-size: 80px;
    border-style: none;
}
.backimg{
    width: 50px; 
    
}
body {
    margin: 0;
    color: white;
    background: url("../image/background2.png") no-repeat center fixed;

    background-size: cover;
    font-family: 'Montserrat', monospace;
    font-weight: bold;
}
.level{
    background-color:#939f5df0    ;
    display: flex;
    justify-content: space-around;
    border: 0.2vw solid #707F3C;
    width: 70vw;
    height: 70vh;
    flex-wrap: wrap;
    border-radius: 20px;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}
.Title,.Title2{
    margin: 3vh;
    background-color:#B7CB5A   ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 10vh;
    border-radius: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 9vh;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0px 0.2vw 0.2vw rgba(0, 0, 0, 0.25);
}

.levels{
    padding: 10px;
    width: 30vw;
    margin: auto;
    height: 49vh;
    overflow-y: scroll;
    scrollbar-width:none;
    border: 0.1vw solid #707F3C;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.lev{
    width:25vw;
    height: 15vh;
    border: 0.1vw solid #B7CB5A;
    background-color: #e6ff7861;
    margin: auto;
    font-weight: 400;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 2vw;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
justify-content: center;
align-items: center;
    font-size: 1.5vw;
  display: flex;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0px 0.2vw 0.2vw rgba(0, 0, 0, 0.25);
}