.back{
  position: absolute;
  width: 85px;
  height: 80px;
  background: url(../image/arrow.png);
  background-size: 80px;
  border-style: none;
}

.backimg{
  width: 50px; 
  
}
.buttonhead {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  margin-top: 3vh;
  height: 105px;
  }
  .user{
    height: 80px;
    width: 80px;
    margin-left: 85vw;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: aliceblue;
  
  }
  .userimg{
      height: 100%;
      width: 100%;
    }
  .color{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 10vh;
    color: #ffffff;
    text-decoration: none;
  }
  body {
    margin: 0;
    color: white;
    background: url("../image/background2.png") no-repeat center fixed;
   background-size: cover;
    font-family: 'Montserrat', monospace;
    font-weight: bold;
    
}
.Choix{
  border:0.3vw solid #538E8A;
  background-color: #9acdcef6;
  border-radius: 30px;
  margin: auto;
  height: 35vh;
  width: 40vw;
  padding-left: 4vw;
  padding-top: 2vw;
  margin-right: 2vw;
  margin-bottom: 3vh;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 10vh;
    
    color: #ffffff;
    text-decoration: none;
}
.Credit{
  border:0.3vw solid #FFFFFF;
  background-color: #f4bb5fee;
  border-radius: 30px;
  margin: auto;
  padding: 2vw;
  width: 90vw;
  height: 20vh;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 10vh;
    
    color: #ffffff;
    text-decoration: none;
}