#game{
    background-color: #bf24b2e7;
    border: 0.4vw solid #f231c8;
    border-radius:20px ;
    width: 70vw;
    height: 70vh;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
}