#game{
    background-color: #24bf2ce7;
    border: 0.4vw solid #34f231;
    border-radius:20px ;
    width: 70vw;
    height: 70vh;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
}